.Alert {
    top: 40px;
    display: flex;
    justify-content: center;
    transition: opacity 1.5s ease;
    animation: slideDown 1.5s ease-in-out 1;
}

@keyframes slideDown {
    0% {
        top: 0;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    75% {
        top: 38px;
        opacity: 1;
    }

    100% {
        top: 38px;

        opacity: 0;
    }

}